:root {
  --cont-pd: 32px;
  --sect-pd: 94px;

  --header-pd: 34px;
  --gutters-v1: 30px;
  --gutters-v2: 50px;

  --palette-c1: #FFFFFF;
  --palette-c2: #E6E8EC;
  --palette-c3: #A1A6B4;
  --palette-c4: #121723;
  --palette-c5: #A1A6B4;
  --palette-c6: #AA9DFA;
  --palette-c7: #292E39;
  --palette-c8: #F0D288;
  --palette-c9: #6D31EE;
  --palette-c10: #4F28A5;
  --palette-c11: #BB973E;
  --palette-c12: #D2D5DD;
}

body {
  background-color: var(--palette-c1);
}

button {
  background: none;
  cursor: pointer;
}

h2 {
  font-size: 24px;
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

h3 {
  font-family: Muller, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.section-pd {
  padding-top: var(--sect-pd);
  padding-bottom: var(--sect-pd);
}

.container {
  width: 100%;
  padding-left: var(--cont-pd);
  padding-right: var(--cont-pd);
  margin-left: auto;
  margin-right: auto;
}

.header__wrap {
  position: relative;
}

.header__logo-wrap {
  line-height: 0;
}

.header__nav {
  color: var(--palette-c4);
  overflow-x: auto;
}

.hero__h1 {
  color: var(--palette-c4);
}

.hero__hello {
  color:var(--palette-c4);
}

.hero__listen-btn {
  background: var(--palette-c9);
  color: var(--palette-c1);
  transition: background-color .3s ease-in-out ;
}

.podcasts {
  background-color: var(--palette-c2);
}

.podcasts__h2 {
  margin-bottom: 30px;
  color: var(--palette-c4);
}

.podcasts__card {
  position: relative;
  background-color: var(--palette-c1);
  column-gap: 14px;
}

.podcasts__img-wrap {
  min-width: fit-content;
}

.podcasts__img {
  position: relative;
}

.podcasts__descr {
  padding: 38px 16px;
}

.podcasts__time {
  margin-bottom: 8px;
  color: var(--palette-c4);
  font-size: 12px;
}

.podcasts__h3 {
  margin-bottom: 4px;
  color: var(--palette-c4);
}

.podcasts__author {
  color: var(--palette-c3);
}

.podcasts__date {
  display: inline-block;
  position: absolute;
  padding: 3px 8px;
  font-size: 10px;
  background-color: var(--palette-c2);
  color: var(--palette-c4);
}

.broadcast {
  position: relative;
}

.broadcast__card {
  border: 1px solid var(--palette-c2);
}

.broadcast__descr {
  height: 100%;
}

.broadcast__h3 {
  margin-bottom: 3px;
  color: var(--palette-c4);
}

.broadcast__text {
  margin-bottom: 20px;
  color: var(--palette-c5);
}

.broadcast__more {
  transition: all .3s ease-in-out;
  width: fit-content;
}

.broadcast__arrow {
  width: 28px;
  height: 12px;
  transition: all .3s ease-in-out;
}

.broadcast__arrow path {
  fill: var(--palette-c4);
}

.broadcast__arch-btn {
  max-width: fit-content;
  border-radius: 77px;
  border: 2px solid var(--palette-c4);
  color: var(--palette-c4);
  font-size: 16px;
}

.broadcast__arch-text {
  color: var(--palette-c3);
  font-size: 14px;
}

.broadcast__mic {
  line-height: 0;
}

.guests {
  background-color: var(--palette-c4);
}

.guests__header {
  color: var(--palette-c5);
  margin-bottom: 50px;
}

.guests__h2 {
  color: var(--palette-c1);
  margin-bottom: 12px;
}

.guests__h3 {
  margin-bottom: 8px;
  color: var(--palette-c1);
  font-size: 20px;
}

.guests__descr {
  color: var(--palette-c3);
  font-size: 16px;
}

.guests__descr {
  color: var(--palette-c5);
}

.guests__onair {
  max-width: fit-content;
  color: var(--palette-c6);
  border-radius: 77px;
  border: 2px solid var(--palette-c6);
  font-size: 16px;
  transition: all .3s ease-in-out;
}

.guests__intro {
  color: var(--palette-c3);
  font-size: 14px;
}

.guests__intro-descr {
  color: var(--palette-c3);
  font-size: 14px;
}

.playlists__card {
  border: 1px solid var(--palette-c2);
  position: relative;
}

.playlists__h2 {
  color: var(--palette-c4);
  margin-bottom: 10px;
}

.playlists__h3 {
  margin-bottom: 5px;
  color: var(--palette-c4);
}

.playlists__descr {
  color: var(--palette-c3);
}

.playlists__img-wrap {
  position: relative;
}

.playlists__flag {
  top: 0;
  position: absolute;
}

.playlists__info {
  color: var(--palette-c5);
}

.playlists__trademark {
  color: var(--palette-c3);
  margin-bottom: 6px;
}

.playlists__age {
  width: 30px;
  height: 30px;
  padding: 5px 5px;
  color: var(--palette-c3);
  border-radius: 100px;
  border: 1px solid var(--palette-c3);

  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.adv {
  background-color: var(--palette-c7);
}

.adv__h2 {
  color: var(--palette-c8);
}

.adv__info {
  padding-top: 34px;
}

.adv__items {
  flex-wrap: nowrap;
}

.adv__radio {
  background-repeat: no-repeat;
  background-size: auto;
}

.adv__radio-wrap {
  position: relative;
}

.adv__radio-label {
  position: absolute;
}

.adv__p {
  color: var(--palette-c1);
}

.adv__price {
  color: var(--palette-c1);
}

.adv__button-wrap {
  border: 2px solid var(--palette-c8);
  max-width: fit-content;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.adv__button {
  position: relative;
  padding-left: 25px;
  color: var(--palette-c8);
  transition: all .3s ease-in-out;
}

.adv__button::before {
  left: 0;
  top: -1px;
  position: absolute;
  content: url("../img/adv/svg/ym.svg");
  /* transition: content .3s ease-in-out; */
}

.about {
  background-color: var(--palette-c4);
}

.about__h2 {
  color: var(--palette-c1);
}

.about__hello {
  color: var(--palette-c5);
}

.about__text {
  color: var(--palette-c5);
}

.about__h3 {
  color: var(--palette-c1);
}

.about__p {
  color: var(--palette-c3);
}

.about__form-common {
  color: var(--palette-c5);
  min-width: 200px;
  background-color: var(--palette-c4);
  border: 1px solid var(--palette-c1);
  transition: all .3s ease-in-out;
}

.about__form-btn {
  color: var(--palette-c1);
  background-color: var(--palette-c9);
  border-radius: 40px;
  transition: all .3s ease-in-out;
}

.form__confirm {
  width: fit-content;
}

.form__label {
  display: inline-block;
  color: var(--palette-c1);
  cursor: pointer;
}

.footer {
  background-color: var(--palette-c7);
}

.footer__bottom {
  min-height: 47px;
  padding-top: 18px;
  background-color: var(--palette-c7);
  background-image: url("../img/footer/svg/wave.svg");
  background-repeat: repeat-x;
  background-position: top;
}

.footer__bottom-text {
  color: var(--palette-c5);
  font-size: 16px;
}

.footer__logo {
  width: 160px;
  height: 20px;
}

.footer__left {
  row-gap: 19px;
}

.footer__social {
  column-gap: 21px;
}

.footer__right {
  color: var(--palette-c1);
  flex-wrap: wrap;
}

.footer__menu-item {
  /* padding: 0 5px; */
  transition: all .3s ease-in-out;
}

.gutters-v1 {
  row-gap: var(--gutters-v1);
  column-gap: var(--gutters-v1);
}

.gutters-v2 {
  row-gap: var(--gutters-v2);
}
